body {
  padding-top: 3em;
}

.twitter-timeline-container {
  min-height: 600px; /* prevent pop-in */
}

.tags {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tags li:first-of-type {
  font-weight: bold;
}

.tags .glyphicon-tags {
  margin: 0.4em;
}
